a {
    color: #333;
}
a:hover {
    text-decoration: none;
}

.bg-grey {
    background-color: #fafafa;
}

/*MARGIN CUSTOM*/
.m-0 {
    margin : 0!important;
}
.mr-05 {
    margin-right: 5px!important;;
}
.mr-25 {
    margin-right: 25px!important;;
}
.mr-10 {
    margin-right: 10px!important;
}
.mr-15 {
    margin-right: 15px!important;
}
.mr-30 {
    margin-right: 30px!important;;
}
.ml-05 {
    margin-left: 5px!important;;
}
.ml-30 {
    margin-left: 30px!important;;
}
.mt-05 {
    margin-top: 5px!important;
}
.mt-100 {
    margin-top: 100px!important;
}
.mt-20 {
    margin-top: 20px!important;
}
.mt-30 {
    margin-top: 30px!important;
}
.mt-95 {
    margin-top: 95px!important;
}
.mt-135 {
    margin-top: 135px!important;
}
.mb-10 {
    margin-bottom: 10px!important;
}
/*PADDING CUSTOM*/
.p-0 {
    padding: 0!important;
}
.pb-10 {
    padding-bottom: 10px!important;
}
.pt-10 {
    padding-top: 10px!important;
}
.p-10 {
    padding: 10px!important;
}

/*WIDTH & HEIGHT CUSTOM*/
.wd-250 {
    width: 250px;
}
.w-40 {
    width: 40%!important;
}

/*FONT CUSTOM*/
.fs12px {
    font-size: 12px!important;
}
.fs14px {
    font-size: 14px!important;
}

.boxContents {
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
}

.topBar {
    /*background-color: #ffffff;*/
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.08);*/
    font-size: 13px;
}
.topBar ul {
    margin: 0;
}
.topBar ul li {
    line-height: 25px;
}
.topBar a {
    color: #878c94;text-decoration:none;
}
.text-primary {
    color: #395599;
}
.bg-primarys {
    background-color: #395599;
}

.topBar ul.topBarNav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.topBar ul.topBarNav li {
    position: relative;
    display: inline-block;
    margin-right: -4px;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
}
.topBar ul.topBarNav li:last-child {
    border-right: none;
}
.topBar ul.topBarNav li a {
    display: block;
    padding-left: 12px;
    padding-right: 12px;
}



.topBar ul.topBarNav li ul {
    background-color: #ffffff;
    position: absolute;
    top: 42px;
    left: auto;
    min-width: 10px;
    right: 4px;
    border-radius: 0px;
    border: solid 0px;
    margin-right: -4px;
    padding: 0;
    list-style-type: none;
    z-index: 9999;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
}
.topBar ul.topBarNav li ul li {
    display: block;
    line-height: 30px;
    width: 100%;
    border: none;
}

.topBar ul.topBarNav li a {
    display: block;
    padding-left: 12px;
    padding-right: 12px;
}
.topBar .dropdown-menu > li > a {
    display: block;
    padding: 6px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #878c94;
    font-size:15px;
    white-space: nowrap;
}
.topBar .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #00BCD4;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.02);
}


/*CART/////////////////////*/


.cart-items::-webkit-scrollbar {
    width: 6px;
    background-color: #ECECEC;
}
.cart-items::-webkit-scrollbar-track {

}
.cart-items::-webkit-scrollbar-thumb {
    background-color: #084951;
    outline: 1px solid black;
}

.middleBar div.middleBarNav div ul.cart .cart-items{
    padding: 10px;
    height: 200px;
    overflow: auto;
}

.middleBar div.middleBarNav div ul.cart .cart-items .items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.middleBar div.middleBarNav div ul.cart .cart-items .items li {
    overflow: hidden;
    clear: left;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.middleBar div.middleBarNav div ul.cart .cart-items .items li .product-image {
    width: 60px;
    float: left;
}
.middleBar div.middleBarNav div ul.cart .cart-items .items li a {
    margin: 0;
    padding: 0;
    line-height: normal;
    background-color: transparent;
    display: inline;
}
.middleBar div.middleBarNav div ul.cart .cart-items .items li .product-details {
    position: relative;
    margin-left: 60px;
    padding: 0 15px 0 10px;
}
.middleBar div.middleBarNav div ul.cart .cart-items .items li .product-details .close-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    line-height: normal;
}
.middleBar div.middleBarNav div ul.cart .cart-footer {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.02);
}
.middleBar div.middleBarNav div ul.cart .cart-footer a {
    text-align: center;
    /*padding: 10px 20px;*/
    margin: 0;
    background-color: transparent;
    width: 100%;
}


/*/////////////////////////middleBar//////////////////////*/

.middleBar {
    padding: 15px 0 0 0;
    margin: 0;min-height: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

@media (min-width: 767px){

    .display-table {
        display: table;
        width: 100%;
    }
    .vertical-align {
        display: inline-table;
        vertical-align: middle;
        float: none;
    }
    .grid-space-1 div[class*="col-"] {
        padding: 0 1px;
    }
}


.middleBar .form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.form-control.input-lg {
    font-size: 15px;
}

.middleBar .btn.btn-default {
    color: #ffffff;
    background-color: #395599;
    border: 1px solid #395599;
    border-radius: 0px;
}
.middleBar .header-items .header-item {
    display: inline-block;
}

.middleBar .header-items .header-item a {
    position: relative;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.08);
    width: 40px;
    height: 40px;
    line-height: 40px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    color: #35404f;
}
.middleBar .header-items .header-item a sub {
    position: absolute;
    bottom: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #395599;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    color: #ffffff;
    font-size: 9px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
[data-count]:after {
    content: attr(data-count);
}
.helper {
    opacity: 0;
}
.helper.added {
    -webkit-animation: fly-animation 1s ease-in-out;
    animation: fly-animation 1s ease-in-out;
}
.middleBar .header-items .header-item .dropdown-toggle:hover {
    background-color: #395599;
    color: #ffffff;
}

/*/////////////////////////navbar-default///////////////*/

.navbar-default {
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #ffffff;
    margin-bottom: 0;
    border: none;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #395599;
    background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:after {
    border-top:solid 2px #395599;

}
.navbar-default .dropdown-menu {
    padding: 0;
    font-size: 14px;
    background-color: #ffffff;
    color: #878c94;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.dropdown-toggle::after {
    display:none;
}

.dropdown-menu > li > a {
    display: block;
    padding: 6px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #878c94;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover{
    color: #395599;
}

/*SECTION BLOCK*/
.section-header {
    background: #fff;
    /*padding-left: 1.25rem;*/
    border-bottom: 1px solid rgba(0,0,0,.05);
    padding: 0.3rem 0 0.5rem 0;
}
.section-header_title {
    font-size: 1.2rem;
    color: #395599;
    font-weight: bold;
}
.section-content {

}
.home-cat_group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;
}
.home-cat_list {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    overflow-x: hidden;
    list-style: none;
    float: left;
}
.home-cat_list_item {
    display: block;
    position: relative;
}
.home-cat_list_item:hover {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    /*z-index: 1;*/
    border-color: rgba(0,0,0,.12);
    box-shadow: 0 0 0.8125rem 0 rgba(0,0,0,.05);
    opacity: 0.8;
}
.home-cat_list_group {
    text-decoration: none;
    color: rgba(0,0,0,.8);
    display: block;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*PRODUCT GRID*/
.product-grid3 {
    font-family: Roboto, sans-serif;
    text-align: center;
    position: relative;
    z-index: 1
}
.product-grid3:before {
    content: "";
    height: 81%;
    width: 100%;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s ease 0s
}
.product-grid3:hover:before {
    opacity: 1;
    height: 100%
}
.product-grid3 .product-image3 {
    position: relative
}
.product-grid3 .product-image3 a {
    display: block
}
.product-grid3 .product-image3 img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}
.product-grid3 .pic-1 {
    opacity: 1;
    transition: all .5s ease-out 0s
}
/*Setting diaktifkan jika harus ada 2 gambar produk*/
/*.product-grid3:hover .pic-1{opacity:0}*/

.product-grid3 .pic-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s ease-out 0s
}
/*Setting diaktifkan jika harus ada 2 gambar produk*/
/*.product-grid3:hover .pic-2{opacity:1}*/

.product-grid3 .social {
    width: 120px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    opacity: 0;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -23px;
    transform: scale(0);
    transition: all .3s ease 0s
}
.product-grid3:hover .social {
    opacity: 1;
    transform: scale(1)
}
.product-grid3:hover .product-discount-label, .product-grid3:hover .product-new-label, .product-grid3:hover .title {
    opacity: 0
}
.product-grid3 .social li {
    display: inline-block
}
.product-grid3 .social li a {
    color: #e67e22;
    background: #fff;
    font-size: 18px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 50%;
    margin: 0 2px;
    display: block;
    transition: all .3s ease 0s
}
.product-grid3 .social li a:hover {
    background: #e67e22;
    color: #fff
}
.product-grid3 .product-discount-label, .product-grid3 .product-new-label {
    background-color: #e67e22;
    color: #fff;
    font-size: 17px;
    padding: 2px 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: all .3s
}
.product-grid3 .product-content {
    z-index: -1;
    padding: 10px;
    text-align: left
}
.product-grid3 .title {
    font-size: 16px;
    text-transform: capitalize;
    margin: 0 0 7px;
    transition: all .3s ease 0s
}
.product-grid3 .title a {
    color: #414141
}
.product-grid3 .price {
    color: #395599;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-right: 2px;
    display: inline-block
}
.product-grid3 .price span {
    color: #909090;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    text-decoration: line-through;
    text-align: left;
    display: inline-block;
    margin-top: -2px
}
/*Product Star Rating */
.product-product_rating {
    font-size: 12px;
    line-height: 1.2;
    display: inline-block;
}
.product-rating {
    position: relative;
    display: inline-block;
    margin: 5px 0 0 0;
    padding: 0;
    list-style-type: none;
}
.product-product_desc {
    max-height: 110px;
    overflow-y: scroll;
}
.product-rating_container {

}
.product-rating__bg {
    color: #ddd;
}
.product-rating__fg {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #ffc107;
}
/*footer*/

.col_white_amrc {
    color: #FFF;
}
footer {
    width: 100%;
    background-color: #324c99;
    min-height: 250px;
    padding: 10px 0px 25px 0px;
}
.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}
footer p {
    font-size: 13px;
    color: #CCC;
    padding-bottom: 0px;
    margin-bottom: 8px;
}
.mb10 {
    padding-bottom: 15px;
}
.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}
.footer_ul_amrc li {
    padding: 0px 0px 5px 0px;
}
.footer_ul_amrc li a {
    color: #CCC;
}
.footer_ul_amrc li a:hover {
    color: #fff;
    text-decoration: none;
}
.fleft {
    float: left;
}
.padding-right {
    padding-right: 10px;
}
.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}
.footer_ul2_amrc li p {
    display: table;
}
.footer_ul2_amrc li a:hover {
    text-decoration: none;
}
.footer_ul2_amrc li i {
    margin-top: 5px;
}
.bottom_border {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;
}
.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}
.foote_bottom_ul_amrc li {
    display: inline;
}
.foote_bottom_ul_amrc li a {
    color: #999;
    margin: 0 12px;
}
.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}
.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}
.social_footer_ul li a {
    color: #CCC;
    border: 1px solid #CCC;
    padding: 8px;
    border-radius: 50%;
}
.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}

/*PRODUCT DETAIL*/
.product-detail_group {
    padding: 10px 5px;
}
.product-detail_title {
    font-size: 24px;
    font-weight: bold;
}
.product-detail_pict_one {
    margin: 20px 0px;
}
.product-detail_pict_one_img, .product-detail_pict_slide_img {
    border: 1px #395599 solid;
}
.product-detail_sdesc {
    margin: 15px 0px;
    border-bottom: 1px dashed #ddd;
}
.product-detail_sdesc_title {
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}
.product-detail_sdesc_short {
    display: inline-block;
    text-align: justify;
    line-height: 1.4;
    font-size: 14px;
    margin-bottom: 10px;
}
.product-detail_sdesc_oth {
    font-size: 14px;
    font-weight: 600;
}
.product-detail_sdesc_oth a {
    font-weight: bold;
    color: #395599;
}
.product-detail_pricing {

}
.product-detail_pricebreak {
    font-size: 20px;
    color: #888888;
    text-decoration: line-through;
    margin: 0;
}
.product-detail_price {
    font-size: 30px;
    font-weight: 700;
    color: #395599;
    margin: 0;
}
.product-detail_info {
    margin-top: 15px;
}
.product-detail_info_item {
    float: left;
    padding: 10px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: #4e555b;
}
.product-detail_info_item_view, .product-detail_info_item_sold, .product-detail_info_item_cond, .product-detail_info_item_minbuy {
    font-size: 15px;
    display: block;
    font-weight: 700;
    margin-top: -3px;
}
.product-detail_button {
    margin-top: 15px;
}
.product-detail_header {
    font-size: 17px;
    font-weight: 400;
    background: #fafafa;
    padding: 10px;
    margin: 14px 0;
}
.product-detail_spec {
    padding: 16px 16px 0 16px;
}
.product-detail_spec_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0.7rem;
}
.product-detail_spec_item_label {
    color: rgba(0,0,0,.4);
    font-size: .875rem;
    width: 6.25rem;
    margin-right: 2.5rem;
}
.product-detail_spec_item_cat {
    height: .9375rem;
}
.product-detail_spec_item_cat > a {
    color: #395599;
}
.product-detail_spec_item_cat_a {
    font-size: .875rem;
    font-weight: 600;
}
.product-detail_desc {
    /*white-space: pre-wrap;*/
    color: rgba(0,0,0,.8);
    font-size: .875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.6rem;
}
.product-detail_desc > p {
    margin-top: 0;
    margin-bottom: 10px;
}
.product-detail_review_item_card {
    margin: 10px 0 10px 0;
}
.product-detail_prodrelate_group {
    margin: 10px 0 10px 0;
}
.btn-prod {
    width: 100%;
    font-size: 17px;
    font-weight: 700;
    border-radius: 0;
}
.btn-prod:hover {
    color: #2b2b2b;
    background-color: #fff;
    border: 1px solid #395599;
    box-shadow: 0px 0px 5px 0px #b3b3b3;
}
.product-detail_button_buynow {
    color: #fff;
    background: #395599;
}
.product-detail_button_addcart {
    background: #fafafa;
    border: 1px solid #389821;
}
.product-detail_button_addwhis {
    background: #fafafa;
    border: 1px solid #d43a3a;
}

.list-socmed_hori {
    list-style: none;
    padding-right: 10px;
}
/*CART*/
.cart-detail_pricingin_list {
    border: 0;
}

/*CHECKOUT*/
.checkout-detail_login, .checkout-detail_guest {
    padding: 10px;
}
.row-button-detail{
    padding: 9px 10px 10px;
    transition: all 0.3s ease;
}
.row-button-detail button{
    height: 40px;
    border-radius: 8px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    text-align: center;
}    
.btn-toko{
    background: transparent;
    color: rgb(234, 33, 45);
    border-color: rgb(224, 224, 224, 1);
    border-width:1px;
    font-size: 18px;
    padding: 0;
}
.btn-keranjang{
    background-color: transparent;
    color: rgb(234, 33, 45);
    border:solid 1px rgb(234, 33, 45);
    font-size: 14px;
}
.btn-belisekarang{
    color: rgb(255, 255, 255);
    background-color: rgb(234, 33, 45);
    font-size: 14px;
}
.icon-bar a {
    float: left;
    width: 25%;
    text-align: center;
    padding: 3px 0 9px;
    transition: all 0.3s ease;
    color: rgba(103, 110, 121, 0.68);
    font-size: 24px;
}
.icon-bar a.active {
    color: #395599;
}
.icon-bar a:hover {
    background-color: #eee;
}
.fixed-bottom{
    display: none;
    padding: 0;
    bottom: -2px;
    box-shadow: rgba(108, 114, 124, 0.16) 0px -2px 4px 0px;
}
.badge-notification {
    position: relative;
    margin-right: 10px;
    font-size: 24px;
}
.badge-notification[data-badge]::after {
    content: attr(data-badge);
    position: absolute;
    top: -11px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 20px;
    height: 20px;
    line-height: 19px;
    font-size: 11px;
    font-weight: 600;
    border-radius: 50%;
    background: var(--secondary);
    color: #fff;
    background-color: rgb(234, 33, 45);
}
span.badge-notification {
    margin-right: 24px;
}
span.badge-notification[data-badge]::after {
    top: -4px;
    right: -12px;
}
#custom-search-input {
    /*margin-bottom: 4px;*/
    padding: 0;
    width: 75%;
}

#custom-search-input button {
    border: 0;
    background: none;
    margin-top: 2px;
    padding: 5px;
    position: relative;
    left: -28px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#395599;
}
.badge-notify{
    background: rgb(234, 33, 45);
    color: #fff;
    position: absolute;
    right: 33%;
    top: 5px;
    font-size: 11px;
}
.search-query:focus {
    z-index: 3;
}
.search-query{
    background-color: rgb(246, 246, 246);
    border-width: initial;
    border-style: none;
    color: rgba(49, 53, 59, 0.68);
}
.res-mob{
    display: none;
}
.modal {
    text-align: center;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}
.res-harga{
    display: none;
}
.col-hide{
    display: none;
}
.media-mb{
    margin-bottom: 20px;
}
.img-wish{
    width: 120px !important;
    height: 120px !important;
    border-radius: 5px;
}
.media-wish{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.btn-trash{
    padding: 0;
    color: #999;
    font-size: 22px;
    margin-right: 20px;
}
.btn-cart{
    background-color: #324c99;
}
.list-group-item{
    padding-right: 0;
    padding-left: 0;
}
.label-total{
    font-weight: 100;
    font-size: 12px;
    padding-bottom: 3px;
    display: block;
    color: #666;
    padding-left: 5px;
}
.text-harga{
    font-weight: bold;
    margin:0;
    margin-top: -12px;
    padding-left: 5px;
    color: rgb(234, 33, 45);
}
.filter-mob{
    display: none;
}

.message {
background:#181818;
color:#FFF;
position: absolute;
bottom: -250px;
left: 0;
width: 100%;
height: 250px;
padding: 20px;
transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
overflow: hidden;
box-sizing: border-box;
  border-top-right-radius:15px;
  border-top-left-radius:15px;
}

#toggle {
  position:absolute;
  appearance:none;
  cursor:pointer;
  left:-100%;
  top:-100%;
  cursor: pointer !important;
}

#toggle + label {
  position:absolute;
  cursor:pointer !important;
  padding:10px;
  background: #26ae90;
width: 100px;
border-radius: 3px;
padding: 8px 10px;
color: #FFF;
line-height:20px;
font-size:12px;
text-align:center;
-webkit-font-smoothing: antialiased;
cursor: pointer;
  margin:20px 50px;
  transition:all 500ms ease;
}
#toggle + label:after {
  content:"Open" 
}

#toggle:checked ~ .message {
  bottom: 0;
  transition:all 300ms ease;
}

#toggle:checked + label {
  background:#dd6149;
}

#toggle:checked + label:after {
  content:"Close"
}
.list-group-flush li.list-group-item{
    padding-left: 15px;
    padding-right: 15px;
}
.overlay-side{
  height: 100%;
  width: 0;
  top: 0;
  right: 0;
  z-index: 99999;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  overflow-y: scroll;
  border-left:solid 1px #ddd;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.5s;
  border-left:solid 1px #ddd;
}
.sidebar-header {
  overflow: hidden;
  border-top: 1px solid #ddd;
  padding: 10px 35px 10px 20px; 
}
.sidebar-menu ul.list-group li{
  border-radius: 0;
}
.user-pic {
  float: left;
  width: 60px;
  padding: 2px;
  border-radius: 12px;
  margin-right: 15px;
  overflow: hidden;
}
.user-info {
  float: left;
  color: #333;
}
.user-info .user-role {
  font-size: 12px;
}
.user-status {
  font-size: 11px;
  margin-top: 4px;
}
.user-status i {
  font-size: 8px;
  margin-right: 4px;
  color: #5cb85c;
}
.sidebar-menu{
  border-top: solid 1px #ddd;
}
.sidebar-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 10px 35px 10px 20px;
}
.sidebar-menu ul li a i{
  /*background: #2b2b2b;*/
  margin-right: 10px;
  font-size: 12px;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}
 .sidebar-menu .sidebar-dropdown div{
   background: #eee;
 }
 .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 20px;
}
.sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}
.sidebar-menu .sidebar-dropdown.active > a:after {
  transform: rotate(90deg);
  right: 17px;
  color: #111;
}
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
#show-sidebar,
#close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sidebar-menu ul li a{
  color: #555;
}
.sidenav .sidebar-header .user-info > span {
  display: block;
}

.sidenav a:hover {
  color: #111;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media (max-width: 768px){
    .middleBar {
        display: none;
    }
    .fixed-bottom{
        display: block;
    }
    .res-desk{
        display: none;
    }
    .res-mob{
        display: block;
        width: 100%;
        display: inline-flex;
    }
    .res-foot{
        margin-bottom: 55px;
    }
    .topBar{
        height: 52px;
        background-color: rgb(255, 255, 255);
    }
    .topBar ul.topBarNav li a{
        padding-left: 0 !important;
    }
    .mt-100{
        margin-top: 50px !important;
    }
    .bg-grey{
        overflow-x: hidden;
    }
    .col-lg-3{
        width: 50%;
    }
    .justify-content-end{
        width: 25%;
    }
    .justify-content-end ul{
        float: right;
        margin-top: 8px;
    }
    .col-slide{
        display: none;
    }
    .col-slide-1{
        margin-bottom: 0 !important;
    }
    .col-disc{
        display: none;
    }
    .nav-breadcrumb{
        display: none;
        margin-top: 20px;
    }
    .col-img-detail{
        margin-top: 50px;
    }
    .product-detail_sdesc_title{
        margin-bottom: 10px !important;
        font-weight: 400;
    }
    .col-harga{
        display: none;
    }
    .col-hide{
        display: block;
    }
    .res-harga{
        display: block !important;
        width: 100%;
    }
    .res-mobile {
        display: none;
    }
    .label-text{
        font-weight: bold;
        font-size: 16px;
        width: 100%;
        margin-bottom: 15px;
        display: block !important;
    }
    .product-detail_sdesc_oth{
        font-weight: normal;
        margin-bottom: 8px;
    }
    .col-category{
        margin-top: 35%;
    }
    .col-category .col-md-4{
        margin-bottom: 0;
    }
    .product-detail_info{
        position: absolute;
        width: 100%;
        top: 15.5%;
        background:rgb(228, 228, 228, 1);
    }
    .product-detail_info_item i{
        display: none;
    }
    .input-qty{
        display: none;
    }
    .product-detail_button{
        display: none;
    }
    .product-detail_button_addwhis{
        width: auto;
        position: absolute;
        right: 15px;
        margin-top: -39px;
    }
    .list-group-horizontal-sm{
        display: table;
    }
    .list-group-horizontal-sm li{
        display: inline;
    }
    .product-detail_spec{
        padding: 0;
    }
    .col-no-padding{
        padding-right: 0;
        padding-left: 0;
    }
    .product-detail_review_item_card{
        margin:10px 12px 10px 12px;
    }
    .product-grid3 .product-image3 img {
        height: 150px;
    }
    .product-detail_header{
        padding-left: 15px;
        margin-top: 30px;
        margin-bottom: 0;
        background: none;
    }
    .text-header{
        padding: 0 !important;
        margin-top: 15%;
    }
    .col-wish-res-img{
        width: 30%;
    }
    .col-wish-res-text{
        width: 70%;
        padding-left: 0;
    }
    .btn-cart{
        float: right;
    }  
    .ring-blj{
        display: none;
    }  
    .filter-mob{
        display: block;
    }
    .product-detail_prodrelate_group{
        margin-bottom: 60px;
    }
}

/*LIST*/
.o-split {
    text-align: right;
    list-style: none;
    margin-left: 0;
    margin-bottom: 2px!important;
}
.o-split__title {
    text-align: left;
    float: left;
    clear: left;
}
.o-split--tiny>.o-split__desc {
    margin-bottom: 0px;
}

.dl-logo-list {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin: 0 auto;
    max-width: 283px;
    padding-top: 10px;
}
.dl-logo-list:first-child {
    border-top: 1px solid #ccc;
}
.dl-logo-list>dt {
    display: inline-block;
    width: 120px;
    margin-right: 10px;
    text-align: left;
    vertical-align: middle;
}
.dl-logo-list>dd {
    display: inline-block;
    width: 135px;
    text-align: left;
    vertical-align: middle;
}
.list-logo--payment {
    -webkit-background-size: 80px 80px;
    background-size: 80px;
    height: 40px;
    margin-left: 10px;
}

/*Timeline Delivery / Status Pengiriman*/
ul.tl-proses {
    list-style-type: none;
    position: relative;
}
ul.tl-proses:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.tl-proses > li {
    margin: 20px 0;
    padding: 0 15px 0 15px;
}
ul.tl-proses > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

/*SEARCH FIELD*/
.dropdown-search {
    position: absolute;
    top: 100%;
    /* left: 0; */
    z-index: 1061;
    display: none;
    float: left;
    /*min-width: 16rem;*/
    /*max-width: 30rem;*/
    width: 100%;
    overflow: hidden;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
}

.dropdown-search > a > .dropdown-item {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dropdown-content {
    top: 40px;
    right: 10px;
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.shows {
    display: block !important;
}

/*Store Page*/
.store-detail {
    padding: 20px;
}
.store-detail_title {
    margin-bottom: 5px;
}
.store-detail_desc {
    padding: 10px;
    background: #f8f9fa!important;
    border-radius: 7px;
}
.store-detail_desc_text {
    text-align: left;
    line-height: 18px;
    word-break: break-word;
    margin-bottom: 0!important;
    font-size: 14px;
    color: #4e4e4e;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace!important;
}
.store-detail_stats > table > tbody > tr > td {
    padding: 4px!important;
    text-align: center;
    border: 1px #e9ecef solid;
;
}

/*HELPCENTER*/
.btn-helpp {
    cursor: pointer;
    color: #878c94;
    border: 2px #878c94 solid;
    padding: 10px 0px;
}
.btn-helpp:hover {
    color: #324c99;
    border: 2px #324c99 dashed;
}
.text-helpp_answer > p {
    font-size: 17px;
    line-height: 1.63;
    text-align: justify;
}

/*WISHLIST*/
.btn-wish_del {
    position: relative;
    top: 30%;
    left: 12%;
}